.publ{ float:left; width:100%; background:#f7f7f7; }
.publish{ float:left; width:100%; height:auto; }
.publish h1{ float:left; width:100%; height:68px; line-height:68px;  font-size:24px; text-align:center; color:#ffffff; background:#ff9c00; }
.tile_div{ width:92%; height:68px; line-height:68px; margin:0 auto;}
.lxf{ float:left; width:20%; height:68px; }
.lxf .primg{ float:left; width:15px; height:24px; margin-top:22px;}
.sqh2{ float:left; width:60%; height:68px; line-height:68px; font-size:24px;}

.publish .publ_div{ float:left; width:100%; height:auto; }
.publish .publ_div ul{ float:left; width:100%; height:auto;}
.publish .publ_div ul li{ float:left; width:100%; height:auto; border-bottom:1px solid #EBEBEB; border-top:1px solid #EBEBEB; margin-top:6px; background:#ffffff;}	
.publish .publ_div ul li .wi_div{ width:92%; height:auto; margin:0 auto; }
.publish .publ_div ul li .wi_div .dwimg	{ float:left; width:19px; height:29px; margin-top:13px;}
.publish .publ_div ul li .wi_div .pubtext{float:left; width:67%; display:block; height:52px; line-height:52px;background:#f7f7f7; border:none; margin-left:10px; font-size:16px;  text-indent:0.2em; color:#858585; background:#ffffff;}
.publish .publ_div ul li .wi_div .bjlabel{ float:right; display:block; width:20.9%; height:52px;  font-size:16px;line-height:52px; text-align:center; border-bottom:3px solid #FF9C00; color:#858585; }
.publish .publ_div ul li .wi_div .inputext{ float:left; width:100%; height:52px;background:#ffffff; border:none; font-size:16px;  text-indent:0.2em; color:#c2c2c2;}

.publish .publ_div ul li .wi_div  .timeimg1	{ float:left; width:32px; height:32px; margin-top:7px;}
.publish .publ_div ul li .wi_div h2{ float:left; width:34.7%; height:48px; line-height:48px; font-size:18px; margin-left:0px;  color:#858585;  font-weight:600;}	
.publish .publ_div ul li .wi_div .timtext1{ float:left; display:block; width:48%;background:#ffffff; height:48px; line-height:48px; font-size:16px; border:none; color:#353535; }
.publish .publ_div ul li .wi_div  .fczrq{ float:left; width:50%; height:52px; line-height:52px; font-size:16px;}
.publish .publ_div ul li .wi_div .xzabar{ cursor:pointer;float:left; display:block; width:50%; height:52px; line-height:52px; font-size:16px; color:#353535; text-align:right;}
.publish .publ_div ul li .wi_div .mjhbar{ float:left; width:70%; height:52px; line-height:52px; font-size:16px;}
.publish .publ_div ul li .wi_div .inbarput{ float:left; width:30%; height:52px; line-height:52px; font-size:16px; text-align:right; background:#ffffff;}
.publish .publ_div ul li .wi_div .cph{ width:50%; }
.publish .publ_div ul li .wi_div .fczrqbar{ width:55%;}
.publish .publ_div ul li .wi_div .spanbar{ font-size:16px;}
.publish .publ_div ul li .wi_div .srteb{ float:left; display:block; width:100%;background:#ffffff; height:100px; border:none; font-size:24px; color:858585;}
.publish .publ_div ul li .wi_div a .imgtz{ float:right; width:32px; height:32px;  margin-top:9px;}
/*滑动的div和样式*/
.publish .publ_div ul li .wi_div .hd_div{ float:right; width:20%; height:42px; margin-top:2px;}
#beij{width:60px; height:28px; background:#FF9C00; border-radius:10px; position:relative; margin-top:6px; }
#yuan{ width:20px; height:20px; border-radius:50%; background:#fff; position:absolute; top:3px;left:32px; border:1px solid #ccc;}
#k{ color:#fff;width:38px; height:28px;padding-left:11px; padding-right:20px; font-size:14px; line-height:28px;}
/*时间样式*/
.input{
background-color: #FFF;
width:48%;
float: right;
font-size:20px;
height:48px;
border:none;
text-indent:0.6em;
color:#919191;
background:#ffffff;
text-align:right;
}
#tan{ display:none;background:#fff;width:200px; height:200px; border:1px solid red; position:absolute; top:62px; right:0; overflow:hidden;}
#tan li{ float:left; width:60px; border:none;  cursor:pointer;}
#tan li.on{ color:red;}
#tan span{ float:left; position:absolute; top:120px; left:90px; cursor:pointer; }

#tan1{ width:100px; position:absolute; top:62px; right:0; border:1px solid red;cursor:pointer; background:#fff; display:none; }
#tan1 li{ border:none;  cursor:pointer; }
.fabu{ float:left; width:100%; height:200px; background:#f7f7f7;}
.fabu .afb{ width:85%; height:46px; line-height:46px; font-size:20px; display:block; margin:0 auto; background:#FF9C00; text-align:center; margin-top:90px; border-radius: 10px; color:#fff; }
.sudiv{width:100%; height:480px; background:#ffffff;}
.div_bar{ float:left; width:100%; height:66px;background:#f7f7f7; }
.div_bar .cloa{ float:left; display:block; width:12%; height:45px; }
.div_bar .cloa .rucla{ float:left; width:31%; height:55%; margin-left:25%; margin-top:20px;}
.div_bar .divtex{ float:left; width:84%; height:45px;  border:1px solid #dcdcdc; border-radius:30px; margin-top:9px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:45px; border-radius:30px 0px 0px 30px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:22px; height:20px; margin-left:31%; margin-top:13px;  }
.div_bar .divtex .text_bar{ float:left; width:70%; height:45px; border:none; font-size:16px; text-indent:0.4em; color:#bbbbbb;}
.div_bar .divtex .abarright{ float:left; width:15%; height:45px; border-radius:0px 30px 30px 0px;}
.div_bar .divtex .abarright .img_x{ float:left; width:26px; height:26px;  margin-left:22%; margin-top:9px;}
/*添加时显示样式*/
.publ .selc_div{ float:left; width:100%; background:#ffffff; margin-top:15px; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.publ .selc_div .div_inbar{ width:96%; height:40px;  margin:0 auto;}
.publ .selc_div .div_inbar .span_left{ float:left; width:30%; height:42px; line-height:42px; text-align:left;  font-size:16px; color:#000000;}
.publ .selc_div .div_inbar .span_con{ float:left; width:34%; height:42px; text-align:center; line-height:42px;  font-size:16px; color:#000000; }
.publ .selc_div .div_inbar .span_right{ float:left; width:24%; height:42px; text-align:right; line-height:42px;  font-size:16px; color:#000000;}
.publ .selc_div .div_inbar  .span_scimg{ float:left; width:12%; height:42px; }
.publ .selc_div .div_inbar  .span_scimg .imgfb{ float:right; width:32px; height:32px; margin-top:5px;}
/*修改地图样式*/
#container { position:absolute;width:100%;height:80% !important;} 
.amap-sug-result{ background:#ffffff; left:0px !important; width:97%; margin-left:1.5%; border:none;}
	.auto-item{ font-size:16px ; float:left; width:98%; display:block; height:30px;  line-height:30px; border-bottom:1px solid #dcdcdc; padding-top:7px; color:#858585;}
	.auto-item-span{ float:right; height:30px; line-height:30px; font-size:16px; }
	
	.auto-item::before
  	{ float:left;
  		content:url(../images/tt6.png); width:5%; height:28px; margin-right:10px; margin-top:3px !important;
		
	}
	/*.auto-item-span::before{ float:right; content:url(../images/iv_come.png); width:30px; height:30px; margin-right:5px;}*/



.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:30px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:13px;}
@media screen and (max-device-width: 400px) {
.publ{ float:left; width:100%; background:#f7f7f7; }
.publish{ float:left; width:100%; height:auto; }
.publish h1{ float:left; width:100%; height:55px; line-height:55px;  font-size:22px; text-align:center; background:#ff9c00; color:#ffffff; }	

.tile_div{ width:94%; height:55px; line-height:55px; margin:0 auto;}
.lxf{ float:left; width:20%; height:55px; }
.lxf .primg{ float:left; width:12px; height:20px; margin-top:17px;}
.sqh2{ float:left; width:60%; height:55px; line-height:55px; font-size:22px;}

.publish .publ_div{ float:left; width:100%; height:auto; }
.publish .publ_div ul{ float:left; width:100%; height:auto;}
.publish .publ_div ul li{ float:left; width:100%; height:auto; border-bottom:1px solid #EBEBEB; border-top:1px solid #EBEBEB; margin-top:4px; background:#ffffff;}	
.publish .publ_div ul li .wi_div{ width:94%; height:auto; margin:0 auto; }
.publish .publ_div ul li .wi_div .dwimg	{ float:left; width:15px; height:22px; margin-top:12px;}
.publish .publ_div ul li .wi_div .pubtext{float:left; width:67%; display:block; height:46px; line-height:46px; border:none; margin-left:3px; font-size:14px;  text-indent:0.2em; color:#858585; background:#ffffff;}
.publish .publ_div ul li .wi_div .bjlabel{ float:right; display:block; width:20.9%; height:46px;  font-size:14px;line-height:46px; text-align:center; border-bottom:3px solid #FF9C00; color:#858585; }
.publish .publ_div ul li .wi_div .inputext{ float:left; width:100%; height:46px;background:#ffffff; border:none; font-size:14px;  text-indent:0.2em; color:#c2c2c2;}

.publish .publ_div ul li .wi_div  .timeimg1	{ float:left; width:24px; height:24px; margin-top:7px;}
.publish .publ_div ul li .wi_div h2{ float:left; width:34.7%; height:38px; line-height:38px; font-size:14px; margin-left:0px;  color:#858585;  font-weight:600;}	
.publish .publ_div ul li .wi_div .timtext1{ float:left; display:block; width:48%;background:#ffffff; height:46px; line-height:46px; font-size:14px; border:none; color:#353535; }
.publish .publ_div ul li .wi_div  .fczrq{ float:left; width:50%; height:46px; line-height:46px; font-size:14px;}
.publish .publ_div ul li .wi_div .xzabar{ cursor:pointer;float:left; display:block; width:50%; height:46px; line-height:46px; font-size:14px; color:#353535; text-align:right;}
.publish .publ_div ul li .wi_div .mjhbar{ float:left; width:70%;height:46px; line-height:46px; font-size:14px; }
.publish .publ_div ul li .wi_div .inbarput{ float:left; width:30%;height:46px; line-height:46px; font-size:14px; text-align:right;}
.publish .publ_div ul li .wi_div .cph{ width:50%; }
.publish .publ_div ul li .wi_div .fczrqbar{ float:left; width:55%; height:46px; line-height:46px; font-size:14px;}
.publish .publ_div ul li .wi_div .spanbar{ font-size:14px;}
.publish .publ_div ul li .wi_div .srteb{ float:left; display:block; width:100%;background:#ffffff; height:100px; border:none; font-size:14px; color:858585;}
.publish .publ_div ul li .wi_div a .imgtz{ float:right; width:30px; height:30px;  margin-top:8px;}
/*滑动的div和样式*/
.publish .publ_div ul li .wi_div .hd_div{ float:right; width:20%; height:42px; margin-top:2px;}
#beij{width:60px; height:28px; background:#FF9C00; border-radius:10px; position:relative; margin-top:6px; }
#yuan{ width:20px; height:20px; border-radius:50%; background:#fff; position:absolute; top:3px;left:32px; border:1px solid #ccc;}
#k{ color:#fff;width:38px; height:28px;padding-left:11px; padding-right:20px; font-size:14px; line-height:28px;}
/*时间样式*/
.input{
background-color: #FFF;
width:48%;
float: right;
font-size:14px;
height:38px;
border:none;
text-indent:0.6em;
color:#919191;
background:#ffffff;
text-align:right;
}
#tan{ display:none;background:#fff;width:200px; height:200px; border:1px solid red; position:absolute; top:62px; right:0; overflow:hidden;}
#tan li{ float:left; width:60px; border:none;  cursor:pointer;}
#tan li.on{ color:red;}
#tan span{ float:left; position:absolute; top:120px; left:90px; cursor:pointer; }

#tan1{ width:100px; position:absolute; top:62px; right:0; border:1px solid red;cursor:pointer; background:#fff; display:none; }
#tan1 li{ border:none;  cursor:pointer; }
.fabu{ float:left; width:100%; height:200px; background:#f7f7f7;}
.fabu .afb{ width:85%; height:40px; line-height:40px; font-size:18px; display:block; margin:0 auto; background:#FF9C00; text-align:center; margin-top:90px; border-radius: 10px; color:#fff; }
/*****/
.sudiv{width:100%; height:480px; background:#ffffff;}
.div_bar{ float:left; width:100%; height:58px;background:#f7f7f7; }
.div_bar .cloa{ float:left; display:block; width:12%; height:45px; }
.div_bar .cloa .rucla{ float:left; width:32%; height:46%; margin-left:12px; margin-top:19px;}
.div_bar .divtex{ float:left; width:84%; height:38px;  border:1px solid #dcdcdc; border-radius:30px; margin-top:10px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:38px; border-radius:30px 0px 0px 30px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:22px; height:20px; margin-left:24%; margin-top:9px;  }
.div_bar .divtex .text_bar{ float:left; width:70%; height:38px; border:none; font-size:16px; text-indent:0.4em; color:#bbbbbb;}
.div_bar .divtex .abarright{ float:left; width:15%; height:38px; border-radius:0px 30px 30px 0px;}
.div_bar .divtex .abarright .img_x{ float:left; width:26px; height:26px;  margin-left:14%; margin-top:6px;}
/*添加时显示样式*/
.publ .selc_div{ float:left; width:100%; background:#ffffff; margin-top:15px; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.publ .selc_div .div_inbar{ width:96%; height:40px;  margin:0 auto;}
.publ .selc_div .div_inbar .span_left{ float:left; width:30%; height:42px; line-height:42px; text-align:left;  font-size:14px; color:#000000;}
.publ .selc_div .div_inbar .span_con{ float:left; width:34%; height:42px; text-align:center; line-height:42px;  font-size:14px; color:#000000; }
.publ .selc_div .div_inbar .span_right{ float:left; width:24%; height:42px; text-align:right; line-height:42px;  font-size:14px; color:#000000;}
.publ .selc_div .div_inbar  .span_scimg{ float:left; width:12%; height:42px; }
.publ .selc_div .div_inbar  .span_scimg .imgfb{ float:right; width:30px; height:30px; margin-top:5px;}
/*修改地图样式*/
#container { position:absolute;width:100%;height:80% !important;} 
.amap-sug-result{ background:#ffffff; left:0px !important; width:97%; margin-left:1.5%; border:none;}
	.auto-item{ font-size:14px ; float:left; width:98%; display:block; height:30px;  line-height:30px; border-bottom:1px solid #dcdcdc; padding-top:7px; color:#858585;}
	.auto-item-span{ float:right; height:30px; line-height:30px; font-size:12px; }
	
	.auto-item::before
  	{ float:left;
  		content:url(../images/dw1.png); width:5%; height:28px; margin-right:10px; margin-top:3px !important;
		
	}
	/*.auto-item-span::before{ float:right; content:url(../images/dw2.png); width:30px !important; height:30px !important; margin-right:0px !important;}*/

/*******/
.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:30px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:13px;}	
	
	
	
}
@media screen and (min-device-width: 1360px) {
.publ{ float:left; width:100%; height:auto; background:#f7f7f7;}
.publish{ float:left; width:100%; height:auto;}
.publish h1{ float:left; width:100%; height:75px; line-height:75px; font-size:34px; text-align:center; }	

.publish .publ_div{ float:left; width:100%; height:auto; }
.publish .publ_div ul{ float:left; width:100%; height:auto; }
.publish .publ_div ul li{ float:left; width:100%; height:auto;  border-bottom:1px solid #EBEBEB; border-top:1px solid #EBEBEB; margin-top:15px;}	
.publish .publ_div ul li .wi_div{ width:96%; height:auto; margin:0 auto;}
.publish .publ_div ul li .wi_div .dwimg	{ float:left; width:38px; height:54px; margin-top:8px;}
.publish .publ_div ul li .wi_div .pubtext{ float:left; width:73%; height:70px; border:none; background:#f7f7f7; margin-left:10px; font-size:34px;  text-indent:0.5em; color:#858585;}
.publish .publ_div ul li .wi_div .bjlabel{ float:right; display:block; width:19%; height:67px; font-size:34px;line-height:70px; text-align:center; border-bottom:3px solid #FF9C00; color:#858585; }
.publish .publ_div ul li .wi_div .inputext{ float:left; width:100%; height:70px; border:none; font-size:34px; background:#f7f7f7;  text-indent:0.5em; color:#c2c2c2;}

.publish .publ_div ul li .wi_div  .timeimg1	{ float:left; width:54px; height:54px; margin-top:6px;}
.publish .publ_div ul li .wi_div h2{ float:left; width:55%; height:62px; line-height:62px; font-size:34px; margin-left:0px;  color:#858585;  font-weight:600;}	
.publish .publ_div ul li .wi_div .timtext1{ float:left; display:block; width:33.5%; height:62px; line-height:62px; font-size:30px; border:none; color:#353535; background:#f7f7f7; }
.publish .publ_div ul li .wi_div .xzabar{cursor:pointer; float:left; display:block; width:45%; height:62px; line-height:62px; font-size:30px; color:#353535;  text-align:right;}
.publish .publ_div ul li .wi_div .mjhbar{ float:left; width:85%;}
.publish .publ_div ul li .wi_div .inbarput{ float:left; width:15%;}
.publish .publ_div ul li .wi_div .cph{ width:45%;}
.publish .publ_div ul li .wi_div .spanbar{ font-size:26px;}
.publish .publ_div ul li .wi_div .srteb{ float:left; display:block; width:100%; height:100px; border:none; font-size:28px; color:#858585; background:#f7f7f7;}
.publish .publ_div ul li .wi_div a .imgtz{ float:right; width:54px; height:54px; margin-top:4px;}
/*滑动的div和样式*/
.publish .publ_div ul li .wi_div .hd_div{ float:right; width:16.7%; height:62px; }
#beij{width:100px; height:60px; background:#FF9C00; border-radius:10px; position:relative; border:1px solid #CCC;}
#yuan{ width:44px; height:44px; border-radius:50%; background:#fff; position:absolute; top:8px;left:55px; border:1px solid #ccc;}
#k{ color:#fff;width:100px; height:65px;padding-left:20px; padding-right:20px; font-size:26px; line-height:64px;}
/*时间样式*/
.input{
float:left; display:block; width:33.5%; height:62px; line-height:62px; font-size:30px; border:none;  color:#353535;background:#f7f7f7;
}
.fabu{ float:left; width:100%; height:200px; background:#f7f7f7;}
.fabu .afb{ width:60%; height:40px; line-height:40px; font-size:24px; display:block; margin:0 auto; background:#FF9C00; text-align:center; margin-top:90px; border-radius: 10px; color:#fff; }
.sudiv{width:100%; height:848px; background:#ffffff;}	
.div_bar{ float:left; width:100%; height:75px; background:#f7f7f7;}
.div_bar .cloa{ float:left; display:block; width:12%; height:67px;  }
.div_bar .cloa .rucla{ float:left; width:21px; height:39px; margin-left:25%; margin-top:15px;}
.div_bar .divtex{ float:left; width:84%; height:67px;  border:1px solid #dcdcdc; border-radius:30px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:67px; border-radius:30px 0px 0px 30px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:44px; height:41px; margin-left:25%; margin-top:15%;  }
.div_bar .divtex .text_bar{ float:left; width:70%; height:67px; border:none; font-size:28px; text-indent:0.5em; color:#bbbbbb;}
.div_bar .divtex .abarright{ float:left; width:15%; height:67px; border-radius:0px 30px 30px 0px;}
.div_bar .divtex .abarright .img_x{ float:left; width:44px; height:44px;  margin-left:25%; margin-top:15%;}
/*添加时显示样式*/
.publ .selc_div{ float:left; width:100%;  background:#f7f7f7; margin-top:15px; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.publ .selc_div .div_inbar{ width:96%; height:40px;  margin:0 auto;}
.publ .selc_div .div_inbar .span_left{ float:left; width:28%; height:50px; line-height:50px; text-align:left;  font-size:24px; color:#000000; }
.publ .selc_div .div_inbar .span_con{ float:left; width:34%; height:50px; text-align:center; line-height:50px;  font-size:24px; color:#000000; }
.publ .selc_div .div_inbar .span_right{ float:left; width:24%; height:50px; text-align:right; line-height:50px; font-size:24px; color:#000000; }
.publ .selc_div .div_inbar  .span_scimg{ float:left; width:14%; height:50px; }
.publ .selc_div .div_inbar  .span_scimg .imgfb{ float:right; width:40px; height:40px; margin-top:5px;}
/*修改地图样式*/
#container { position:absolute;width:33.5%; height:850px !important;} 
.amap-sug-result{ left:32.3% !important; width:620px; border:none;}
	.auto-item{ font-size:18px ; float:left; width:612px; display:block; height:44px;  line-height:40px; border-bottom:1px solid #dcdcdc; padding-top:7px;}
	.auto-item-span{display:block; float:right; height:44px; line-height:44px; }
	.auto-item:hover{ background:#ffffff;}
	.auto-item::before
  	{ float:left;
  		content:url(../images/33.png); width:28px; height:35px; margin-right:10px; 
	}
	.auto-item-span::before{ float:right; content:url(../images/45.png); width:40px; height:40px; margin-right:5px;
		
	}


.footbar{ float:left; width:100%; height:75px; background:#e4e4e4; margin-top:25px;}
.footcc{ float:left; width:20%; height:75px; }
.footcont{ float:left; width:60%; height:75px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:42px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:28px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:42px; margin:0 auto; height:50px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:28px; height:50px;margin:0 auto;background-size:cover; margin-top:13px;}


}