.sudiv{width:100%; height:480px; background:#ffffff;}

.div_bar{ float:left; width:100%; height:66px;background:#f7f7f7; }
.div_bar .cloa{ float:left; display:block; width:12%; height:45px; }
.div_bar .cloa .rucla{ float:left; width:31%; height:55%; margin-left:25%; margin-top:20px;}
.div_bar .divtex{ float:left; width:63%; height:45px;  border:1px solid #dcdcdc; border-radius:12px; margin-top:9px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:45px; border-radius:12px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:25px; height:20px; margin-left:24%; margin-top:13px;  }
.div_bar .divtex .text_bar{ float:left; width:100%; height:45px; border:none; font-size:16px; text-indent:0.4em; color:#bbbbbb; border-radius:12px;}
.div_bar .divtex .abarright{ float:left; width:15%; height:45px; border-radius:0px 30px 30px 0px;}
.div_bar .divtex .abarright .img_x{ float:left; width:26px; height:26px;  margin-left:14%; margin-top:9px;}
.div_bar .ss_a{ float:right; width:19%; height:45px; line-height:45px; background:#4088dd; margin-top:9px; color:#ffffff; font-size:16px; text-align:center; border-radius:12px; margin-right:12px;}
.div_bar .ss_a:active{float:right; width:19%; height:40px; line-height:40px; background:#1061c4; margin-top:5px; color:#ffffff; font-size:16px; text-align:center; border-radius:12px; margin-right:12px;}
/*修改地图样式*/
#container { position:absolute;width:100%;height:80% !important;} 
.amap-sug-result{ background:#ffffff; left:0px !important; width:97%; margin-left:1.5%; border:none;}
	.auto-item{ font-size:16px ; float:left; width:98%; display:block; height:30px;  line-height:30px; border-bottom:1px solid #dcdcdc; padding-top:7px; color:#858585;}
	.auto-item-span{ float:right; height:30px; line-height:30px; font-size:16px; }
	
	.auto-item::before
  	{ float:left;
  		content:url(../images/tt6.png); width:5%; height:28px; margin-right:10px;margin-top:3px !important;
		
	}
	.amap-icon img{ width:23px; height:35px;}
	
	
	/*.auto-item-span::before{ float:right; content:url(../images/tt2.png); width:30px; height:30px; margin-right:5px;}*/
	.map_info{ position:absolute; width:100%; height:227px; bottom:84px;}
.div_in{width:100%; height:227px;overflow:hidden; position:relative;}
.map_info .map_xb{ margin:0 auto; width:100%; height:30px; line-height:30px; background:#ffffff;}
.map_info .map_xb .pxleft{ float:left; width:44%; height:30px;  font-size:12px; color:#979797; margin-left:2%;}
.map_info .map_xb img{ float:left; width:33px; height:20ox; margin-top:8px;}
.map_info .map_xb .ajgright{float:right; width:41%; height:30px;  font-size:12px; color:#979797; text-align:right; margin-right:2%; background:#fff;}
.map_info ul{width:100%; height:270px; background:#ffffff;}
.map_info ul li{ float:left; width:100%; height:58px; line-height:55px;  border-bottom:1px solid #dcdcdc;}
.map_info ul li .map_con{ width:92%; height:auto; margin:0 auto;}
.map_info ul li .map_con .map_ditu{ float:left; width:60%;}
.map_info ul li .map_con .map_ditu h1{ float:left; width:100%; height:32px; line-height:32px;  font-size:16px; color:#979797;}
.map_info ul li .map_con .map_ditu label{ display:block; float:left; height:32px; line-height:32px; font-size:16px inherit; color:#fe6d6d; margin-top:27px;}
.map_info ul li .map_con .map_ditu span{ float:left; color:#818181; font-size:12px; width:100%; height:22px; line-height:22px;color:#979797;}
/*返回的div*/
.fh_div{ position:absolute; width:100%; height:58px; z-index:99;}
.fh_div .dt_fh{ float:left; width:15%; height:58px; }
.fh_div .fh_img{ float:left; width:25%; height:43%; margin-left:12px; margin-top:15px;}
@media screen and (max-device-width: 400px) {
/*****/
.sudiv{width:100%; height:480px !important; background:#ffffff;}

.div_bar{ float:left; width:100%; height:58px;background:#f7f7f7; }
.div_bar .cloa{ float:left; display:block; width:12%; height:45px; }
.div_bar .cloa .rucla{ float:left; width:32%; height:46%; margin-left:12px; margin-top:19px;}
.div_bar .divtex{ float:left; width:63%; height:38px;  border:1px solid #dcdcdc; border-radius:12px; margin-top:10px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:38px; border-radius:12px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:25px; height:20px; margin-left:24%; margin-top:13px;  }
.div_bar .divtex .text_bar{ float:left; width:100%; height:38px; border:none; font-size:14px; text-indent:0.4em; color:#bbbbbb; border-radius:12px;}
.div_bar .divtex .abarright{ float:left; width:15%; height:45px; border-radius:0px 30px 30px 0px;}
.div_bar .divtex .abarright .img_x{ float:left; width:26px; height:26px;  margin-left:14%; margin-top:9px;}
.div_bar .ss_a{ float:right; width:19%; height:38px; line-height:38px; background:#4088dd; margin-top:10px; color:#ffffff; font-size:14px; text-align:center; border-radius:12px; margin-right:12px;}
.div_bar .ss_a:active{float:right; width:19%; height:40px; line-height:40px; background:#1061c4; margin-top:5px; color:#ffffff; font-size:16px; text-align:center; border-radius:12px; margin-right:12px;}
/*修改地图样式*/
#container { position:absolute;width:100%;height:80% !important;} 
.amap-sug-result{ background:#ffffff; left:0px !important; width:97%; margin-left:1.5%; border:none;}
	.auto-item{ font-size:14px ; float:left; width:98%; display:block; height:30px;  line-height:30px; border-bottom:1px solid #dcdcdc; padding-top:7px; color:#858585;}
	.auto-item-span{ float:right; height:30px; line-height:30px; font-size:12px; }
	
	.auto-item::before
  	{ float:left;
  		content:url(../images/dw1.png); width:5%; height:28px; margin-right:10px; margin-top:3px !important;
		
	}
	.amap-icon img{ width:16px; height:25px;}
	/*.auto-item-span::before{ float:right; content:url(../images/dt1.png); width:30px !important; height:30px !important; */margin-right:0px !important;}
	.map_info{ position:absolute; width:100%; height:200px; bottom:84px;}
.div_in{width:100%; height:177px;overflow:hidden; position:relative;}
.map_info .map_xb{ margin:0 auto; width:100%; height:22px; line-height:22px; background:#ffffff;}
.map_info .map_xb .pxleft{ float:left; width:44%; height:22px;  font-size:12px; color:#979797; margin-left:2%;}
.map_info .map_xb img{ float:left; width:33px; height:20px; margin-top:2px;}
.map_info .map_xb .ajgright{float:right; width:41%; height:22px;  font-size:12px; color:#979797; text-align:right; margin-right:2%; background:#fff;}
.map_info ul{width:100%; height:177px;}
.map_info ul li{ float:left; width:100%; height:58px; line-height:55px;  border-bottom:1px solid #ebebeb;}
.map_info ul li .map_con{ width:94%; height:auto; margin:0 auto;}
.map_info ul li .map_con .map_ditu{ float:left; width:66%;}
.map_info ul li .map_con .map_ditu h1{ float:left; width:100%; height:37px; line-height:37px;  font-size:14px; color:#979797; overflow:hidden;}
.map_info ul li .map_con .map_ditu label{ display:block; float:left; text-align:right; height:32px; line-height:48px; font-size:14px !important; color:#fe6d6d; margin-top:21px;}
.map_info ul li .map_con .map_ditu span{ float:left; color:#818181; font-size:12px; width:100%; height:16px; line-height:16px;color:#979797; overflow:hidden;}
/*返回的div*/
.fh_div{ position:absolute; width:100%; height:58px; z-index:99;}
.fh_div .dt_fh{ float:left; width:15%; height:58px; }
.fh_div .fh_img{ float:left; width:26%; height:36%; margin-left:12px; margin-top:19px;}
	
	
	
}
@media screen and (min-device-width: 1360px) {
.sudiv{width:100%; height:848px; background:#ffffff;}	
.div_bar{ float:left; width:100%; height:75px; background:#f7f7f7;}
.div_bar .cloa{ float:left; display:block; width:12%; height:67px;  }
.div_bar .cloa .rucla{ float:left; width:21px; height:39px; margin-left:25%; margin-top:15px;}
.div_bar .divtex{ float:left; width:66%; height:67px;  border:1px solid #dcdcdc; border-radius:18px;}	
.div_bar .divtex .abarleft{ float:left; width:15%; height:67px; border-radius:18px;}
.div_bar .divtex .abarleft .img_bar{ float:left; width:44px; height:41px; margin-left:25%; margin-top:15%;  }
.div_bar .divtex .text_bar{ float:left; width:100%; height:67px; border:none; font-size:28px; text-indent:0.5em; color:#bbbbbb;border-radius:18px;}
.div_bar .divtex .abarright{ float:left; width:15%; height:67px; border-radius:0px 30px 30px 0px;  background:#fff;}
.div_bar .divtex .abarright .img_x{ float:left; width:44px; height:44px;  margin-left:25%; margin-top:15%;}

.div_bar .ss_a{ float:right; width:16%; height:56px; line-height:56px; background:#4088dd; margin-top:6px; sscolor:#ffffff; font-size:26px; text-align:center; border-radius:18px; margin-right:24px;}
.div_bar .ss_a:active{float:right; width:16%; height:56px; line-height:56px; background:#1061c4; margin-top:6px; color:#ffffff; font-size:26px; text-align:center; border-radius:18px; margin-right:24px;}
/*修改地图样式*/
/*修改地图样式*/
#container { position:absolute;width:33.5%; height:600px; } 
.amap-sug-result{ left:32.3% !important; width:620px; border:none;}
	.auto-item{ font-size:18px ; float:left; width:612px; display:block; height:44px;  line-height:40px; border-bottom:1px solid #dcdcdc; padding-top:7px;}
	.auto-item-span{display:block; float:right; height:44px; line-height:44px; }
	.auto-item:hover{ background:#ffffff;}
	.auto-item::before
  	{ float:left;
  		content:url(../images/33.png); width:28px; height:35px; margin-right:10px; 
	}
	.auto-item-span::before{ float:right; content:url(../images/45.png); width:40px; height:40px; margin-right:5px;
		
	}

/*返回的div*/
.fh_div{ position:absolute; width:100%; height:75px;  z-index:99;}
.fh_div .dt_fh{ float:left; width:15%; height:75px; }
.fh_div .fh_img{ float:left; width:21px; height:39px; margin-left:25px; margin-top:15px;}
	
.div_in{width:100%; height:299px;overflow:hidden; position:relative; }
	.map_info{ position:absolute; width:33.4%; height:299px; bottom:75px; }
	.map_info li img{ float:left; width:33px; height:20px; margin-top:8px; }
	.map_info .map_xb{ margin:0 auto; width:100%; height:30px; line-height:30px;}
.map_info .map_xb .pxleft{ float:left; width:44%; height:30px;  font-size:12px; color:#979797; margin-left:2%;}
.map_info .map_xb img{ float:left; width:33px; height:20ox; margin-top:8px;}
.map_info .map_xb .ajgright{float:right; width:44%; height:30px;  font-size:12px; color:#979797; text-align:right; margin-right:2%;}
}