.ddgl{ width:100%; background:#f7f7f7;}
.ddgl .ddglbar{ width:100%; height:68px; background:#ff9c00;}
.ddgl .ddglbar .div_ddgl{ width:92%; height:68px; margin:0 auto; }
.ddgl .ddglbar .div_ddgl .ddglimg{ float:left; width:15%; height:68px; }
.ddgl .ddglbar .div_ddgl .ddglimg .ddgimg{ float:left; width:26%; height:36%; margin-top:21px;}
.ddgl .ddglbar .div_ddgl .ddgltit{ float:left; width:72%; height:68px;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar{ width:96%; height:38px;  margin:0 auto; margin-top:13px; border-radius:20px; border:1px solid #ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd1{ float:left; display:block; width:50%; height:38px; line-height:38px; text-align:center; font-size:20px; color:#ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd2{ float:left; display:block;width:50%; height:38px; line-height:38px; text-align:center; font-size:20px; color:#ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .showxss{ float:left; width:50%; height:38px; line-height:40px; display:block;font-size:20px; background:#ffffff; border-radius:20px; text-align:center; color:#ff9c00}
.ddgl .ddglsq{ width:100%; }
.ddgl .ddglsq .ddbar{ width:100%; height:54px; background:#ffffff; border-bottom:1px solid #dedede;}
.ddgl .ddglsq .ddbar .sqa1{ float:left; width:49.2%; height:54px; line-height:54px; display:block;  text-align:center; font-size:20px; color:#858585; border:1px solid #dedede;}
.ddgl .ddglsq .ddbar .sqa2{ float:left; width:49.2%; height:54px; line-height:54px; display:block;  text-align:center; font-size:20px; color:#858585;}
.ddgl .ddglsq .ddbar .borbom{float:left; width:49.2%; height:52px; line-height:52px; display:block;  text-align:center; font-size:20px; color:#858585; border-bottom:3px solid #ff9c00;}
.ddgl .ddgb_div{ width:100%; display:none; }
.ddgl .ddgb_div .ddgl_ul1 { width:96%;   margin:0 auto; height:568px;}
.ddgl .ddgb_div .ddgl_ul1 li{ width:99%; height:256px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl{ width:100%; height:52px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor{ width:92%; height:52px; margin:0 auto; }
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .indin{ float:left; width:19px; height:29px; margin-top:12px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h1_ddgl{ float:left; width:72%; height:52px;  line-height:52px; font-size:18px; color:#0e1005; text-indent:0.5em;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgl{ float:right; width:19%; height:52px; line-height:52px;  font-size:16px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgbys{ float:right; width:19%; height:52px; line-height:52px;  font-size:16px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd{ width:100%; height:170px; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar{ width:92%; height:170px;  margin:0 auto; margin-top:14px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddle{ float:left; display:block; width:25%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddco{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#0e1005;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddwid{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddqq{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#ff0000; }



.ddgl .ddgb_div2{ width:100%; }
.ddgl .ddgb_div2 .ddgl_ul2 { width:96%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div2 .ddgl_ul2 li{ width:99%; height:256px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2{  width:100%; height:52px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2{ width:92%; height:52px; margin:0 auto;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .indin2{ float:left; width:19px; height:29px; margin-top:12px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h1_ddg2{ float:left; width:72%; height:52px;  line-height:52px; font-size:18px; color:#0e1005; text-indent:0.5em;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddg2{  float:right; width:19%; height:52px; line-height:52px;  font-size:16px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddgbys2{ float:right; width:19%; height:52px; line-height:52px;  font-size:16px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2{ width:100%; height:170px; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2{ width:92%; height:170px;  margin:0 auto; margin-top:14px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddle2{float:left; display:block; width:25%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddco2{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddwid2{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddqq2{float:left; display:block; width:75%; height:40px; line-height:40px; font-size:16px; color:#ff0000;}





/*出租订单样式*/
.ddgl .ddglsq1{ width:100%; display:none;}
.ddgl .ddglsq1 .ddbar1{ width:100%; height:54px; background:#ffffff;}
.ddgl .ddglsq1 .ddbar1 .sqa3{ float:left; width:49.2%; height:54px; line-height:54px; display:block;  text-align:center; font-size:20px; color:#858585;border:1px solid #dedede;}
.ddgl .ddglsq1 .ddbar1 .sqa4{ float:left; width:49.2%; height:54px; line-height:54px; display:block;  text-align:center; font-size:20px; color:#858585;border:1px solid #dedede;}
.ddgl .ddglsq1 .ddbar1 .borbom1{float:left; width:49.2%; height:52px; line-height:52px; display:block;  text-align:center; font-size:20px; color:#858585; border-bottom:3px solid #ff9c00;}
.ddgl .ddgb_div{ width:100%;}
.ddgl .ddgb_div3{ width:100%;  display:none; }
.ddgl .ddgb_div3 .ddgl_ul3 { width:96%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div3 .ddgl_ul3 li{ width:99%; height:256px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3{ width:100%; height:52px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3{ width:92%; height:52px; margin:0 auto; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .indin3{ float:left; width:34px; height:34px; margin-top:10px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h1_ddg3{ float:left; width:69%; height:52px;  line-height:52px; font-size:18px; color:#0e1005; text-indent:0.6em;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddg3{  float:right; width:17%; height:52px; line-height:52px;  font-size:16px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddgbys3{ float:right; width:17%; height:52px; line-height:52px;  font-size:16px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3{  width:92%; height:170px; margin:0 auto; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3{ float:left; width:80%; height:170px; margin-left:8px; margin-top:14px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh{ float:right; width:20%; height:186px;  display:block;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh .dh{ float:left; width:66px; height:63px; margin-top:10px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddle3{ float:left; display:block; width:26.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddco3{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddwid3{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddqq3{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#ff0000;}
.dh{ width:32px; height:30px; margin-top:26px; margin-left:26px;}


.ddgl .ddgb_div4{ width:100%; }
.ddgl .ddgb_div4 .ddgl_ul4 { width:92%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div4 .ddgl_ul4 li{ width:99%; height:256px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4{ width:100%; height:52px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4{  width:92%; height:52px; margin:0 auto;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .indin4{ float:left; width:34px; height:34px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h1_ddg4{ float:left; width:69%; height:52px;  line-height:52px; font-size:18px; color:#0e1005; text-indent:0.6em;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddg4{float:right; width:17%; height:52px; line-height:52px;  font-size:16px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddgbys4{ float:right; width:17%; height:52px; line-height:52px;  font-size:16px; color:#76d25a; text-align:right;}
.dh4{width:32px; height:30px; margin-top:10px; margin-left:22px; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4{  width:92%; height:170px; margin:0 auto; margin-top:20px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4{ float:left; width:80%; height:170px; margin-left:8px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh{ float:right; width:20%; height:186px;  display:block;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh .dh{ float:left; width:66px; height:63px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddle4{ float:left; display:block; width:26.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddco4{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005;  }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddwid4{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddqq4{float:left; display:block; width:73.5%; height:40px; line-height:40px; font-size:16px; color:#ff0000; }
.ddglhei{ width:100%; height:300px; background:#f7f7f7;}

.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:13px;}

@media screen and (max-device-width: 400px) {
.ddgl{ width:100%; background:#f7f7f7;}
.ddgl .ddglbar{ width:100%; height:55px; background:#ff9c00;}
.ddgl .ddglbar .div_ddgl{ width:94%; height:55px; margin:0 auto; }
.ddgl .ddglbar .div_ddgl .ddglimg{ float:left; width:20%; height:55px; }
.ddgl .ddglbar .div_ddgl .ddglimg .ddgimg{ float:left; width:21%; height:37%; margin-top:17px;}
.ddgl .ddglbar .div_ddgl .ddgltit{ float:left; width:63%; height:55px;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar{ width:94%; height:32px;  margin:0 auto; margin-top:9px; border-radius:20px; border:1px solid #ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd1{ float:left; display:block; width:50%; height:32px; line-height:32px; text-align:center; font-size:16px; color:#ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd2{ float:left; display:block;width:50%; height:32px; line-height:32px; text-align:center; font-size:16px; color:#ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .showxss{ float:left; width:50%; height:32px; line-height:32px; display:block;font-size:16px; background:#ffffff; border-radius:20px; text-align:center; color:#ff9c00}
.ddgl .ddglsq{ width:100%; }
.ddgl .ddglsq .ddbar{ width:100%; height:49px; background:#ffffff; border-bottom:1px solid #dedede;}
.ddgl .ddglsq .ddbar .sqa1{ float:left; width:49.2%; height:47px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585;}
.ddgl .ddglsq .ddbar .sqa2{ float:left; width:49.2%; height:47px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585;}
.ddgl .ddglsq .ddbar .borbom{float:left; width:49.2%; height:46px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585; border-bottom:3px solid #ff9c00;}
.ddgl .ddgb_div{ width:100%; display:none;}
.ddgl .ddgb_div .ddgl_ul1 { width:94%;   margin:0 auto; height:568px;}
.ddgl .ddgb_div .ddgl_ul1 li{ width:99%; height:182px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl{ width:100%; height:46px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor{ width:94%; height:46px; margin:0 auto; }
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .indin{ float:left; width:15px; height:22px; margin-top:12px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h1_ddgl{ float:left; width:72%; height:46px;  line-height:46px; font-size:16px; color:#0e1005; text-indent:0.5em;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgl{ float:right; width:19%; height:46px; line-height:46px;  font-size:14px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgbys{ float:right; width:19%; height:46px; line-height:46px;  font-size:14px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd{ width:100%; height:126px; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar{ width:90%; height:126px;  margin:0 auto;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddle{ float:left; display:block; width:25%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddco{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#0e1005;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddwid{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddqq{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#ff0000; }



.ddgl .ddgb_div2{ width:100%;}
.ddgl .ddgb_div2 .ddgl_ul2 { width:94%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div2 .ddgl_ul2 li{ width:99%; height:182px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2{  width:100%; height:46px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2{ width:94%; height:46px; margin:0 auto;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .indin2{ float:left; width:15px; height:22px; margin-top:12px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h1_ddg2{ float:left; width:72%; height:46px;  line-height:46px; font-size:14px; color:#0e1005; text-indent:0.5em;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddg2{  float:right; width:19%; height:46px; line-height:46px;  font-size:14px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddgbys2{ float:right; width:19%; height:46px; line-height:46px;  font-size:14px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2{ width:100%; height:170px; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2{ width:94%; height:170px;  margin:0 auto;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddle2{float:left; display:block; width:25%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddco2{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddwid2{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddqq2{float:left; display:block; width:75%; height:30px; line-height:30px; font-size:14px; color:#ff0000;}





/*出租订单样式*/
.ddgl .ddglsq1{ width:100%; display:none;}
.ddgl .ddglsq1 .ddbar1{ width:100%; height:49px; background:#ffffff;}
.ddgl .ddglsq1 .ddbar1 .sqa3{ float:left; width:49.2%; height:47px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585;border:1px solid #dedede;}
.ddgl .ddglsq1 .ddbar1 .sqa4{ float:left; width:49.2%; height:47px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585; border:1px solid #dedede;}
.ddgl .ddglsq1 .ddbar1 .borbom1{float:left; width:49.2%; height:46px; line-height:46px; display:block;  text-align:center; font-size:16px; color:#858585; border-bottom:3px solid #ff9c00;}
.ddgl .ddgb_div{ width:100%;}
.ddgl .ddgb_div3{ width:100%; display:none;}
.ddgl .ddgb_div3 .ddgl_ul3 { width:94%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div3 .ddgl_ul3 li{ width:99%; height:182px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3{ width:100%; height:46px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3{ width:94%; height:46px; margin:0 auto; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .indin3{ float:left; width:32px; height:32px; margin-top:7px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h1_ddg3{ float:left; width:69%; height:46px;  line-height:46px; font-size:16px; color:#0e1005; text-indent:0.6em;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddg3{  float:right; width:17%; height:46px; line-height:46px;  font-size:16px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddgbys3{ float:right; width:17%; height:46px; line-height:46px;  font-size:14px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3{  width:100%; height:120px; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3{ float:left; width:80%; height:120px; margin-left:8px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh{ float:right; width:20%; height:186px;  display:block;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh .dh{ float:left; width:20px; height:20px; margin-top:10px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddle3{ float:left; display:block; width:26.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddco3{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddwid3{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005;  }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddqq3{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#ff0000;}
.dh{ width:28px; height:26px; margin-top:22px; margin-left:10px;}


.ddgl .ddgb_div4{ width:100%; }
.ddgl .ddgb_div4 .ddgl_ul4 { width:94%;   margin:0 auto; height:564px;}
.ddgl .ddgb_div4 .ddgl_ul4 li{ width:99%; height:182px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4{ width:100%; height:46px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4{  width:96%; height:46px; margin:0 auto;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .indin4{ float:left; width:32px; height:32px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h1_ddg4{ float:left; width:69%; height:46px;  line-height:46px; font-size:14px; color:#0e1005; text-indent:0.6em;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddg4{float:right; width:17%; height:46px; line-height:46px;  font-size:14px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddgbys4{ float:right; width:17%; height:46px; line-height:46px;  font-size:14px; color:#76d25a; text-align:right;}
.dh4{ width:28px; height:26px; margin-top:10px; margin-left:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4{  width:100%; height:134px; margin-top:15px; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4{ float:left; width:80%; height:134px; margin-left:8px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh{ float:right; width:20%; height:186px;  display:block;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh .dh{ float:left; width:66px; height:63px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddle4{ float:left; display:block; width:26.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddco4{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005;  }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddwid4{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddqq4{float:left; display:block; width:73.5%; height:30px; line-height:30px; font-size:14px; color:#ff0000; }
.ddglhei{ width:100%; height:300px; background:#f7f7f7;}

.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:13px;}
	
	




}









@media screen and (min-device-width: 1360px) {
.ddgl{ width:100%; background:#f7f7f7;}
.ddgl .ddglbar{ width:100%; height:64px; background:#ff9c00; }
.ddgl .ddglbar .div_ddgl{ width:96%; height:64px; margin:0 auto; }
.ddgl .ddglbar .div_ddgl .ddglimg{ float:left; width:20%; height:64px;}
.ddgl .ddglbar .div_ddgl .ddglimg .ddgimg{ float:left; width:21px; height:39px; margin-top:12px;}
.ddgl .ddglbar .div_ddgl .ddgltit{ float:left; width:60%; height:64px; }
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar{ width:96%; height:42px; margin:0 auto; margin-top:10px; border-radius:20px; border:1px solid #ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd1{ float:left; display:block; width:50%; height:42px; line-height:42px; text-align:center; font-size:28px; color:#ffffff; }
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .zydd2{ float:left; display:block;width:50%; height:42px; line-height:42px; text-align:center; font-size:28px; color:#ffffff;}
.ddgl .ddglbar .div_ddgl .ddgltit .ddmar .showxss{ float:left; width:50%; height:42px; line-height:42px; display:block;font-size:28px; background:#ffffff; border-radius:20px; text-align:center; color:#ff9c00}
.ddgl .ddglsq{ width:100%;}
.ddgl .ddglsq .ddbar{ width:100%; height:70px; background:#ffffff;}
.ddgl .ddglsq .ddbar .sqa1{ float:left; width:49.2%; height:70px; line-height:70px; display:block;  text-align:center; font-size:28px; color:#858585;}
.ddgl .ddglsq .ddbar .sqa2{ float:left; width:49.2%; height:70px; line-height:70px; display:block;  text-align:center; font-size:28px; color:#858585;}

.ddgl .ddgb_div{ width:100%;}
.ddgl .ddgb_div .ddgl_ul1 { width:96%;   margin:0 auto; height:846px;}
.ddgl .ddgb_div .ddgl_ul1 li{ width:99%; height:247px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl{ width:100%; height:60px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor{ width:96%; height:60px; margin:0 auto; }
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .indin{ float:left; width:28px; height:40px; margin-top:10px;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h1_ddgl{ float:left; width:67%; height:60px;  line-height:60px; font-size:24px; color:#0e1005; text-indent:1em;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgl{ float:right; width:28%; height:60px; line-height:60px;  font-size:24px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_ddgl .ddcor .h2_ddgbys{ float:right; width:28%; height:60px; line-height:60px;  font-size:24px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd{ width:100%; height:186px; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar{ width:80%; height:186px;  margin:0 auto;}
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddle{ float:left; display:block; width:30%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddco{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }

.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddwid{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div .ddgl_ul1 li .div_zydd .div_zyddbar .zdddqq{float:left; display:block; width:70%; height:54px; line-height:54px; font-size:24px; color:#ff0000; }



.ddgl .ddgb_div2{ width:100%;  display:none; }
.ddgl .ddgb_div2 .ddgl_ul2 { width:96%;   margin:0 auto; height:846px;}
.ddgl .ddgb_div2 .ddgl_ul2 li{ width:99%; height:247px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2{ width:100%; height:60px;  border-bottom:1px solid #dedede;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2{ width:96%; height:60px; margin:0 auto; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .indin2{ float:left; width:28px; height:40px; margin-top:10px;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h1_ddg2{ float:left; width:67%; height:60px;  line-height:60px; font-size:24px; color:#0e1005; text-indent:1em;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddg2{ float:right; width:28%; height:60px; line-height:60px;  font-size:24px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_ddg2 .ddcor2 .h2_ddgbys2{ float:right; width:28%; height:60px; line-height:60px;  font-size:24px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2{ width:100%; height:186px; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2{ width:80%; height:186px;  margin:0 auto;}
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddle2{ float:left; display:block; width:30%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddco2{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddwid2{float:left; display:block; width:60%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div2 .ddgl_ul2 li .div_zydd2 .div_zyddbar2 .zdddqq2{float:left; display:block; width:60%; height:54px; line-height:54px; font-size:24px; color:#ff0000; }

/*出租订单样式*/
.ddgl .ddglsq1{ width:100%;  display:none;}
.ddgl .ddglsq1 .ddbar1{ width:100%; height:70px; background:#ffffff;}
.ddgl .ddglsq1 .ddbar1 .sqa3{ float:left; width:49.8%; height:70px; line-height:70px; display:block; text-align:center; font-size:28px; color:#858585;}
.ddgl .ddglsq1 .ddbar1 .sqa4{ float:left; width:49.8%; height:70px; line-height:70px; display:block; text-align:center; font-size:28px; color:#858585;}

.ddgl .ddgb_div3{ width:100%; }
.ddgl .ddgb_div3 .ddgl_ul3 { width:96%;   margin:0 auto; height:846px;}
.ddgl .ddgb_div3 .ddgl_ul3 li{ width:99%; height:247px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3{ width:100%; height:60px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3{ width:96%; height:60px; margin:0 auto; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .indin3{ float:left; width:40px; height:40px; margin-top:10px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h1_ddg3{ float:left; width:67%; height:60px;  line-height:60px; font-size:24px; color:#0e1005; text-indent:1em;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddg3{ float:right; width:25%; height:60px; line-height:60px;  font-size:24px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_ddg3 .ddcor3 .h2_ddgbys3{ float:right; width:25%; height:60px; line-height:60px;  font-size:24px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3{  width:100%; height:186px; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3{ float:left; width:68%; height:186px; margin-left:60px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh{ float:right; width:20%; height:186px; background:#CCC; display:block;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .ddh .dh{ float:left; width:66px; height:63px; margin-top:10px;}
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddle3{ float:left; display:block; width:30%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddco3{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddwid3{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div3 .ddgl_ul3 li .div_zydd3 .div_zyddbar3 .zdddqq3{float:left; display:block; width:70%; height:54px; line-height:54px; font-size:24px; color:#ff0000; }



.ddgl .ddgb_div4{ width:100%; display:none; }
.ddgl .ddgb_div4 .ddgl_ul4 { width:96%;   margin:0 auto; height:846px;}
.ddgl .ddgb_div4 .ddgl_ul4 li{ width:99%; height:247px; background:#ffffff; border:1px solid #dedede; border-radius:13px; margin-top:12px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4{ width:100%; height:60px; border-bottom:1px solid #dedede;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4{ width:96%; height:60px; margin:0 auto; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .indin4{ float:left; width:40px; height:40px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h1_ddg4{ float:left; width:67%; height:60px;  line-height:60px; font-size:24px; color:#0e1005; text-indent:1em;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddg4{ float:right; width:25%; height:60px; line-height:60px;  font-size:24px; color:#ff692a; text-align:right;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_ddg4 .ddcor4 .h2_ddgbys4{ float:right; width:25%; height:60px; line-height:60px;  font-size:24px; color:#76d25a; text-align:right;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4{  width:100%; height:186px; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4{ float:left; width:68%; height:186px; margin-left:60px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh{ float:right; width:20%; height:186px; background:#CCC; display:block;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .ddh .dh{ float:left; width:66px; height:63px; margin-top:10px;}
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddle4{ float:left; display:block; width:30%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddco4{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddwid4{float:left; display:block; width:70%; height:44px; line-height:44px; font-size:20px; color:#0e1005; }
.ddgl .ddgb_div4 .ddgl_ul4 li .div_zydd4 .div_zyddbar4 .zdddqq4{float:left; display:block; width:70%; height:54px; line-height:54px; font-size:24px; color:#ff0000; }
.ddglhei{ width:100%; height:300px; background:#f7f7f7;}
.footbar{ float:left; width:100%; height:75px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:75px; }
.footcont{ float:left; width:60%; height:75px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:42px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:28px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:42px; margin:0 auto; height:50px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:28px; height:50px;margin:0 auto;background-size:cover; margin-top:13px;}	
.hiediv{ width:100%; height:674px; background:#f7f7f7;}
}