.gywm{ width:100%; height:736px; background:#f7f7f7;}
.gywm .tjbar{ width:100%; height:68px; border-bottom:1px solid #dedede; }
.gywm .tjbar .div_tj{ width:96%; height:68px; margin:0 auto; }
.gywm .tjbar .div_tj .tjf{ float:left; width:10%; height:68px; }
.gywm .tjbar .div_tj .tjf .tjimg{ float:left; width:15px; height:24px; margin-top:22px;}
.gywm .tjbar .div_tj .tjyhangk{ float:left; width:80%; height:68px; line-height:68px; text-align:center; color:#444444; font-size:24px;}

.gywm .logywm{ width:100%; height:336px; }
.gywm .logywm .mar_log{ width:100px; height:336px; margin:0 auto;}
.gywm .logywm .mar_log .loimg{ float:left; margin-top:108px; width:100px; height:100px;}

.gywm .gywm_lx{ width:100%; }
.gywm .gywm_lx .ul_qywm{ width:47%; margin:0 auto;}
.gywm .gywm_lx .ul_qywm li{ width:100%; height:40px; }
.gywm .gywm_lx .ul_qywm li .qqimg{ float:left; width:20px; height:22px; margin-top:4px;}
.gywm .gywm_lx .ul_qywm li .span_qq{ float:left; height:34px; line-height:34px; font-size:14px; color:#bcbcbc; /*margin-left:10px;*/text-indent:0.3em;}
.gywm .gywm_lx .ul_qywm li .qqimg2{float:left; width:22px; height:20px; margin-top:5px;}
.gywm .gywm_lx .ul_qywm li .span_wx{float:left; height:34px; line-height:34px; font-size:14px; color:#bcbcbc; text-indent:0.3em;}
.gywm .gywm_lx .ul_qywm li .qqimg3{float:left; width:22px; height:17px; margin-top:8px;}
.gywm .gywm_lx .ul_qywm li  .span_em{float:left; height:34px; line-height:34px;  font-size:14px; color:#bcbcbc; /*margin-left:6px;*/text-indent:0.3em;}	
.gywm .gywm_lx .ul_qywm li .qqimg4{float:left; width:22px; height:22px; margin-top:5px;}
.gywm .gywm_lx .ul_qywm li .qqimg5{float:left; width:22px; height:21px; margin-top:5px;}
.gywm .gywm_lx .ul_qywm li .bbh{ width:100%; display:block;  height:40px; line-height:40px; margin:0 auto; font-size:14px; color:#bcbcbc; margin-top:6px; text-align:center;}
.gywm .gywm_lx .ul_qywm li .bhs{width:64%; display:block;  height:40px; line-height:40px; margin:0 auto; font-size:16px; color:#bcbcbc; margin-top:6px;}


@media screen and (max-device-width:400px) {
.gywm{ width:100%; height:600px; background:#f7f7f7;}
.gywm .tjbar{ width:100%; height:55px; border-bottom:1px solid #dedede; }
.gywm .tjbar .div_tj{ width:94%; height:55px; margin:0 auto; }
.gywm .tjbar .div_tj .tjf{ float:left; width:10%; height:55px; }
.gywm .tjbar .div_tj .tjf .tjimg{ float:left; width:12px; height:20px; margin-top:17px;}
.gywm .tjbar .div_tj .tjyhangk{ float:left; width:80%; height:55px; line-height:55px; text-align:center; color:#444444; font-size:20px;}

.gywm .logywm{ width:100%; height:226px; }
.gywm .logywm .mar_log{ width:70px; height:226px; margin:0 auto;}
.gywm .logywm .mar_log .loimg{ float:left; margin-top:78px; width:70px; height:70px;}

.gywm .gywm_lx{ width:100%; }
.gywm .gywm_lx .ul_qywm{ width:53%;margin:0 auto; height:240px;}
.gywm .gywm_lx .ul_qywm li{ width:100%; height:30px;}
.gywm .gywm_lx .ul_qywm li .qqimg{ float:left; width:18px; height:20px; margin-top:3px;}
.gywm .gywm_lx .ul_qywm li .span_qq{ float:left; height:30px; line-height:30px; font-size:12px; color:#bcbcbc; margin-left:6px;}
.gywm .gywm_lx .ul_qywm li .qqimg2{float:left; width:20px; height:18px; margin-top:6px;}
.gywm .gywm_lx .ul_qywm li .span_wx{float:left; height:30px; line-height:30px; font-size:12px; color:#bcbcbc; margin-left:6px;}
.gywm .gywm_lx .ul_qywm li .qqimg3{float:left; width:20px; height:15px; margin-top:8px;}
.gywm .gywm_lx .ul_qywm li  .span_em{float:left; height:30px; line-height:30px;  font-size:12px; color:#bcbcbc; margin-left:6px;}	
.gywm .gywm_lx .ul_qywm li .qqimg4{float:left; width:20px; height:20px; margin-top:3px;}
.gywm .gywm_lx .ul_qywm li .qqimg5{float:left; width:20px; height:19px; margin-top:4px;}
.gywm .gywm_lx .ul_qywm li .bbh{ width:100%; display:block;  height:40px; line-height:40px; margin:0 auto; font-size:14px; color:#bcbcbc; margin-top:6px; text-align:center;}
.gywm .gywm_lx .ul_qywm li .bhs{width:64%; display:block;  height:40px; line-height:40px; margin:0 auto; font-size:14px; color:#bcbcbc; margin-top:6px;}	
	
}











@media screen and (min-device-width: 1360px) {
.gywm{ width:100%; height:985px; background:#f7f7f7;}
.gywm .tjbar{ width:100%; height:64px; border-bottom:1px solid #dedede;}
.gywm .tjbar .div_tj{ width:96%; height:64px; margin:0 auto;}
.gywm .tjbar .div_tj .tjf{ float:left; width:10%; height:64px; }
.gywm .tjbar .div_tj .tjf .tjimg{ float:left; width:21px; height:39px; margin-top:12px;}
.gywm .tjbar .div_tj .tjyhangk{ float:left; width:80%; height:64px; line-height:64px;  text-align:center; color:#444444; font-size:28px;}

.gywm .logywm{ width:100%; height:500px; }
.gywm .logywm .mar_log{ width:22%; height:500px; margin:0 auto;}
.gywm .logywm .mar_log .loimg{ float:left; margin-top:169px; width:143px; height:143px;}

.gywm .gywm_lx{ width:100%;}
.gywm .gywm_lx .ul_qywm{ width:100%;}
.gywm .gywm_lx .ul_qywm li{ width:64%; height:60px;  margin:0 auto;}
.gywm .gywm_lx .ul_qywm li .qqimg{ float:left; width:28px; height:30px; margin-top:15px;}
.gywm .gywm_lx .ul_qywm li .span_qq{ float:left; height:60px; line-height:60px; font-size:25px; color:#bcbcbc; margin-left:25px;}
.gywm .gywm_lx .ul_qywm li .qqimg2{float:left; width:32px; height:27px; margin-top:19px;}
.gywm .gywm_lx .ul_qywm li .span_wx{float:left; height:60px; line-height:60px;  font-size:25px; color:#bcbcbc; margin-left:21px;}
.gywm .gywm_lx .ul_qywm li .qqimg3{float:left; width:30px; height:20px; margin-top:21px;}
.gywm .gywm_lx .ul_qywm li  .span_em{float:left; height:60px; line-height:60px;  font-size:25px; color:#bcbcbc; margin-left:23px;}	
.gywm .gywm_lx .ul_qywm li .qqimg4{float:left; width:32px; height:30px; margin-top:17px;}
.gywm .gywm_lx .ul_qywm li .qqimg5{float:left; width:30px; height:26px; margin-top:18px;}

.gywm .gywm_lx .ul_qywm li .bbh{ width:32%; display:block; height:40px; line-height:40px; margin:0 auto; font-size:24px; color:#bcbcbc;}
.gywm .gywm_lx .ul_qywm li .bhs{width:56%; display:block;  height:40px; line-height:40px; margin:0 auto; font-size:18px; color:#bcbcbc;}	
}