.xxtz{ width:100%;  background:#f7f7f7;}
.xxtz .xxbar{ width:100%; height:68px; background:#ff9c00;}
.xxtz .xxbar .xxmar	{ width:92%; height:68px;  margin:0 auto;}
.xxtz .xxbar .xxmar .axx{ float:left; display:block; width:20%; height:68px; }
.xxtz .xxbar .xxmar .axx .xxaimg{ float:left; width:15px; height:24px; margin-top:22px;}
.xxtz .xxbar .xxmar .xxh1{ float:left; width:60%; height:68px; line-height:68px; text-align:center; font-size:24px; color:#ffffff;}

.xxtz .xxfs	{ width:100%; background:#ffffff; height:54px; }
.xxtz .xxfs .xxssb{ width:100%; height:54px; margin:0 auto; }
.xxtz .xxfs .xxssb .wd_xx1{ float:left; width:49.5%; height:52px; line-height:58px;  border:1px solid #dedede;}
.xxtz .xxfs .xxssb .wd_xx2{ float:left; width:49.5%; height:52px; line-height:58px; border-bottom:1px solid #dedede; border-top:1px solid #dedede; border-right:1px solid #dedede;}
.xxtz .xxfs .xxssb .wd_xx1 .wd_span1{font-size:20px; width:60%; display:block; text-align:center; margin:0 auto;  height:52px; line-height:52px; color:#444444;}
.xxtz .xxfs .xxssb .wd_xx2 .wd_span2{font-size:20px; width:60%; display:block; text-align:center; margin:0 auto;  height:52px; line-height:52px; color:#444444;}
.xxtz .xxfs .xxssb .xsxhx{font-size:22px; display:block; text-align:center; margin:0 auto;  height:56px; line-height:56px; color:#444444; border-bottom:3px solid #ff9c00;}
.xxtz .xxtzcon{ width:100%; display:none;}
.xxtz .xxtzcon .ul_xxtz{ width:100%; margin-top:12px; height:603px;}
.xxtz .xxtzcon .ul_xxtz li{ width:100%; height:88px; background:#ffffff;   border-bottom:1px solid #dedede;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz{ width:92%; height:88px; margin:0 auto;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimg{ float:left; width:22px; height:28px; margin-top:14px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimgbar{float:left; width:22px; height:28px; margin-top:14px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz{ float:right; width:90%; height:88px; }
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .tzhbar{ float:left; width:100%; height:36px; line-height:40px;  color:#444444; font-size:18px; margin-top:6px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx1{ float:left; width:50%; height:40px; line-height:40px;  font-size:16px; color:#9b9b9b; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx2{ float:left; width:50%; height:40px; line-height:40px;  font-size:16px; color:#e14537; text-align:right; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .wcl{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:16px; color:#d8d8d8; text-align:right; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .jsbar{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:16px; color:#76d25a; text-align:right; margin-top:0px;}

.xxtz .xxtzcon1{ width:100%;}
.xxtz .xxtzcon1 .ul_xxtz1{ width:100%;  margin-top:12px; height:603px;}
.xxtz .xxtzcon1 .ul_xxtz1 li{ width:100%; height:88px; background:#ffffff;  border-bottom:1px solid #dedede;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1{width:96%; height:88px;  margin:0 auto;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimg1{ float:left; width:22px; height:28px; margin-top:14px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimgbar1{float:left; width:22px; height:28px; margin-top:14px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1{ float:right; width:90%; height:88px; }
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .tzhbar1{float:left; width:100%; height:36px; line-height:40px;  color:#444444; font-size:18px; margin-top:6px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx3{ float:left; width:50%; height:40px; line-height:40px; font-size:16px; color:#9b9b9b; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx4{float:left; text-align:right; width:50%; height:40px; line-height:40px;  font-size:16px; color:red; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .wcl1{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:16px; color:#d8d8d8; text-align:right; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .jsbar1{float:left; width:50%; height:40px; display:block; line-height:40px; font-size:16px; color:#76d25a; text-align:right; margin-top:0px;}
.hexxtz{ width:100%; height:310px; background:#f7f7f7;}

@media screen and (max-device-width: 400px) {
.xxtz{ width:100%;  background:#f7f7f7;}
.xxtz .xxbar{ width:100%; height:55px; background:#ff9c00;}
.xxtz .xxbar .xxmar	{ width:94%; height:55px;  margin:0 auto;}
.xxtz .xxbar .xxmar .axx{ float:left; display:block; width:20%; height:55px; }
.xxtz .xxbar .xxmar .axx .xxaimg{ float:left; width:12px; height:20px; margin-top:17px;}
.xxtz .xxbar .xxmar .xxh1{ float:left; width:60%; height:55px; line-height:55px; text-align:center; font-size:20px; color:#ffffff;}

.xxtz .xxfs	{ width:100%; background:#ffffff; height:47px; }
.xxtz .xxfs .xxssb{ width:100%; height:47px; margin:0 auto; }
.xxtz .xxfs .xxssb .wd_xx1{ float:left; width:49.5%; height:46px; line-height:58px;  border:1px solid #dedede; border-left:none; border-top:none;}
.xxtz .xxfs .xxssb .wd_xx2{ float:left; width:49.5%; height:46px; line-height:58px; border-bottom:1px solid #dedede; border-right:none; border-top:none;}
.xxtz .xxfs .xxssb .wd_xx1 .wd_span1{font-size:16px; width:60%; display:block; text-align:center; margin:0 auto;  height:46px; line-height:46px; color:#444444;}
.xxtz .xxfs .xxssb .wd_xx2 .wd_span2{font-size:16px; width:60%; display:block; text-align:center; margin:0 auto;  height:46px; line-height:46px; color:#444444;}
.xxtz .xxfs .xxssb .xsxhx{font-size:22px; display:block; text-align:center; margin:0 auto;  height:56px; line-height:56px; color:#444444; border-bottom:3px solid #ff9c00;}
.xxtz .xxtzcon{ width:100%; display:none;}
.xxtz .xxtzcon .ul_xxtz{ width:100%; margin-top:10px; height:603px;}
.xxtz .xxtzcon .ul_xxtz li{ width:100%; height:64px; background:#ffffff;   border-bottom:1px solid #dedede;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz{ width:94%; height:64px; margin:0 auto;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimg{ float:left; width:20px; height:26px; margin-top:9px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimgbar{float:left; width:20px; height:26px; margin-top:9px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz{ float:right; width:90%; height:64px; }
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .tzhbar{ float:left; width:100%; height:32px; line-height:32px;  color:#444444; font-size:16px; margin-top:2px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx1{ float:left; width:58%; height:20px; line-height:20px;  font-size:14px; color:#9b9b9b; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx2{ float:left; width:42%; height:20px; line-height:20px;  font-size:14px; color:#e14537; text-align:right; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .wcl{float:left; width:42%; height:20px; display:block; line-height:20px;  font-size:14px; color:#d8d8d8; text-align:right; margin-top:0px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .jsbar{float:left; width:42%; height:20px; display:block; line-height:20px;  font-size:14px; color:#76d25a; text-align:right; margin-top:0px;}

.xxtz .xxtzcon1{ width:100%;}
.xxtz .xxtzcon1 .ul_xxtz1{ width:100%;  margin-top:10px; height:603px;}
.xxtz .xxtzcon1 .ul_xxtz1 li{ width:100%; height:64px; background:#ffffff;  border-bottom:1px solid #dedede;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1{width:96%; height:64px;  margin:0 auto;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimg1{ float:left; width:20px; height:26px; margin-top:9px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimgbar1{float:left; width:20px; height:26px; margin-top:9px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1{ float:right; width:90%; height:64px; }
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .tzhbar1{float:left; width:100%; height:32px; line-height:32px;  color:#444444; font-size:16px; margin-top:2px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx3{ float:left; width:58%; height:20px; line-height:20px; font-size:15px; color:#9b9b9b; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx4{float:left; text-align:right; width:42%; height:20px; line-height:20px;  font-size:14px; color:red; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .wcl1{float:left; width:42%; height:20px; display:block; line-height:20px;  font-size:14px; color:#d8d8d8; text-align:right; margin-top:0px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .jsbar1{float:left; width:42%; height:20px; display:block; line-height:20px; font-size:14px; color:#76d25a; text-align:right; margin-top:0px;}
.hexxtz{ width:100%; height:310px; background:#f7f7f7;}	
	
}

@media screen and (min-device-width: 1360px) {
.xxtz{ width:100%; background:#f7f7f7f7; }
.xxtz .xxbar{ width:100%; height:64px; background:#ff9000;}
.xxtz .xxbar .xxmar	{ width:96%; height:64px;  margin:0 auto;}
.xxtz .xxbar .xxmar .axx{ float:left; display:block; width:20%; height:64px; }
.xxtz .xxbar .xxmar .axx .xxaimg{ float:left; width:21px; height:36px; margin-top:14px;}
.xxtz .xxbar .xxmar .xxh1{ float:left; width:60%; height:64px; line-height:64px; text-align:center; font-size:28px; color:#ffffff;}

.xxtz .xxfs	{ width:100%; height:70px; background:#ffffff;}
.xxtz .xxfs .xxssb{ width:96%; height:70px; margin:0 auto; }
.xxtz .xxfs .xxssb .wd_xx1{ float:left; width:49.7%; height:68px; line-height:68px;  border:1px solid #dedede;}
.xxtz .xxfs .xxssb .wd_xx2{ float:left; width:49.7%; height:68px; line-height:68px;  border-bottom:1px solid #dedede; border-top:1px solid #dedede; border-right:1px solid #dedede;}
.xxtz .xxfs .xxssb .wd_xx1 .wd_span1{font-size:28px; width:50%; display:block; text-align:center; margin:0 auto; height:68px; line-height:68px; color:#444444;}
.xxtz .xxfs .xxssb .wd_xx2 .wd_span2{font-size:28px; width:50%; display:block; text-align:center; margin:0 auto; height:68px; line-height:68px; color:#444444;}
.xxtz .xxfs .xxssb .xsxhx{font-size:28px; display:block; text-align:center; margin:0 auto; height:68px; line-height:68px; color:#444444; border-bottom:3px solid #ff9c00;}


.xxtz .xxtzcon{ width:100%; display:none;}
.xxtz .xxtzcon .ul_xxtz{ width:100%; margin-top:20px; height:766px;}
.xxtz .xxtzcon .ul_xxtz li{ width:100%; height:150px; background:#ffffff;  border-bottom:1px solid #dedede;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz{ width:90%; height:150px;  margin:0 auto;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimg{ float:left; width:28px; height:34px; margin-top:30px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .dlimgbar{float:left; width:38px; height:44px; margin-top:21px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz{ float:right; width:92%; height:150px; }
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .tzhbar{ float:left; width:100%; height:40px; line-height:40px;  color:#444444; font-size:28px; margin-top:26px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx1{ float:left; width:50%; height:40px; line-height:40px;  font-size:24px; color:#9b9b9b; margin-top:20px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .txxx2{ float:left; width:50%; height:40px; line-height:40px;  font-size:22px; color:#e14537; text-align:right; margin-top:20px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .wcl{float:left; width:50%; height:40px; display:block; line-height:40px; font-size:22px; color:#d8d8d8; text-align:right; margin-top:20px;}
.xxtz .xxtzcon .ul_xxtz li .div_xxtz .xitz .jsbar{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:22px; color:#76d25a; text-align:right; margin-top:20px;}

.xxtz .xxtzcon1{ width:100%;}
.xxtz .xxtzcon1 .ul_xxtz1{ width:100%; margin-top:20px;  height:766px;}
.xxtz .xxtzcon1 .ul_xxtz1 li{ width:100%; height:150px; background:#ffffff;  border-bottom:1px solid #dedede;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1{ width:90%; height:150px;  margin:0 auto;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimg1{ float:left; width:28px; height:34px; margin-top:30px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .dlimgbar1{float:left; width:38px; height:44px; margin-top:21px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1{ float:right; width:92%; height:150px; }
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .tzhbar1{ float:left; width:100%; height:40px; line-height:40px;  color:#444444; font-size:28px; margin-top:26px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx3{ float:left; width:50%; height:40px; line-height:40px;  font-size:24px; color:#9b9b9b; margin-top:20px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .txxx4{ float:left; text-align:right; width:50%; height:40px; line-height:40px;  font-size:22px; color:red; margin-top:20px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .wcl1{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:22px; color:#d8d8d8; text-align:right; margin-top:20px;}
.xxtz .xxtzcon1 .ul_xxtz1 li .div_xxtz1 .xitz1 .jsbar1{float:left; width:50%; height:40px; display:block; line-height:40px;  font-size:22px; color:#76d25a; text-align:right; margin-top:20px;}
.hexxtz{ width:100%; height:310px; background:#f7f7f7;}
}
