.wd_zd{ width:100%; height:auto;  background:#f7f7f7;}	
.wd_zd .wd_back	{width:100%; height:252px; background:url(../images/zd2.png) no-repeat;background-size:cover;}
.wd_zd .wd_back .zd_in{ width:92%; height:68px;  margin:0 auto;}
.wd_zd .wd_back .zd_in .zd_fhimg{ float:left; width:10%; height:68px; }
.wd_zd .wd_back .zd_in .zd_fhimg .fbar{ float:left; width:15px; height:24px; margin-top:22px;}
.wd_zd .wd_back .zd_in .zd_h1{ float:left; width:80%; height:68px; line-height:68px; font-size:24px; color:#ffffff; text-align:center;}

.wd_zd .wd_back  .zd_yue{ width:92%; height:60px;  margin:0 auto; margin-top:77px;}
.wd_zd .wd_back  .zd_yue .zd_left{ float:left;width:24%; height:60px;}
.wd_zd .wd_back  .zd_yue .zd_left #year{ float:left; width:100%; display:block; height:30px; line-height:30px; font-size:18px; color:#b85500;}
.wd_zd .wd_back  .zd_yue .zd_left #mon{ float:left; display:block; font-size:34px; height:36px; line-height:36px;text-indent:0.1em; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .zd_left .y_spanbar{ float:left; display:block; height:40px; line-height:44px; font-size:16px; margin-top:0px; margin-left:6px; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .ddimg{ float:left; width:4px; height:60px;}
.wd_zd .wd_back  .zd_yue .zd_right{ float:left;width:74%; height:60px; }
.wd_zd .wd_back  .zd_yue .zd_right .zyba{ float:right; width:88%; height:50px;  margin-top:12px;}

.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left{ float:left; display:block; width:50%; height:34px; line-height:36px; font-size:30px; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .sjimg1{ float:right; background:url(../images/zd6.png) no-repeat;width:24px; height:24px; margin-right:20px; margin-top:7px;background-size:cover}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .tianjialei{float:right; background:url(../images/zd7.png) no-repeat;width:24px; height:24px; margin-right:20px; margin-top:16px;pbackground-size:cover}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right{float:left; display:block; width:50%; height:34px; line-height:36px; font-size:30px; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .sjimg2{ float:right;background:url(../images/zd6.png) no-repeat;width:24px; height:24px; margin-right:20px;margin-top:7px;background-size:cover;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .tianjialei1{float:right; background:url(../images/zd7.png) no-repeat;width:24px; height:24px; margin-right:20px; margin-top:16px;pbackground-size:cover}
/*****************************/
.wd_zd .div_wdzd{ width:100%; }

.wd_zd .div_wdzd .zy_divin{ width:80%; height:48px; margin:0 auto; border-radius:13px; }
.wd_zd .div_wdzd .zy_divin .divin_left{ float:left; width:49.5%; height:36px; line-height:38px; border-top:1px solid #636363; border-left:1px solid #636363; border-bottom:1px solid #636363; background:#ffffff; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px; color:#5a6173;}
.wd_zd .div_wdzd .zy_divin .divin_right{ float:left; width:49.5%; height:36px; line-height:38px;border-top:1px solid #636363; border-right:1px solid #636363; border-bottom:1px solid #636363;  background:#fff; font-size:18px; text-align:center; border-radius:13px 0px 0px 13px; color:#5a6173;}
/*点击出背景*/
.wd_zd .div_wdzd .zy_divin .ccdi1{ float:left; width:49.5%; height:38px; border:none; line-height:38px; color:#ffffff; background:#ff9f00; font-size:18px; text-align:center;border-radius:0px 13px 13px 0px;}
.wd_zd .div_wdzd .zy_divin .ccdi2{ float:left; width:49.5%; height:38px; border:none; line-height:38px; color:#ffffff; background:#ff9f00; font-size:18px; text-align:center; border-radius:13px 0px 0px 13px;}

.wd_zd .div_wdzd .xxzd{ width:100%; height:298px;  margin-top:12px;  display:none;}
.wd_zd .div_wdzd .xxzd .xxzd_in{ width:92%; height:298px;   margin:0 auto;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div{ width:100%; height:298px; }
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx{ width:100%; height:298px; }
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li{width:100%; height:59px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli1{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli3{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli4{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#444444;}	
.wd_zd .div_wdzd .xxzd2{ width:100%; height:298px;  margin-top:12px;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2{ width:92%; height:298px;   margin:0 auto;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2{ width:100%; height:298px;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2{ width:100%; height:298px;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li{width:100%; height:59px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli9{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli11{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli12{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#444444;}	
	
.wd_zd .div_wdzd1{ width:100%; display:none;}

.wd_zd .div_wdzd1 .zy_divin1{ width:80%; height:48px; margin:0 auto; border-radius:13px;}
.wd_zd .div_wdzd1 .zy_divin1 .divin_left1{ float:left; width:49.5%; height:36px; line-height:38px; border-top:1px solid #636363; border-left:1px solid #636363; border-bottom:1px solid #636363; background:#ffffff; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px; color:#5a6173;}

.wd_zd .div_wdzd1 .zy_divin1 .divin_right1{ float:left; width:49.5%; height:36px; line-height:38px;border-top:1px solid #636363; border-right:1px solid #636363; border-bottom:1px solid #636363;  background:#fff; font-size:18px; text-align:center; border-radius:13px 0px 0px 13px; color:#5a6173;}
/*点击出背景*/
.wd_zd .div_wdzd1 .zy_divin1 .ccdi3{ float:left; width:49.5%; height:38px; border:none; line-height:38px; color:#ffffff; background:#ff9f00; font-size:18px; text-align:center;border-radius:0px 13px 13px 0px;}
.wd_zd .div_wdzd1 .zy_divin1 .ccdi4{ float:left; width:49.5%; height:38px; border:none; line-height:38px; color:#ffffff; background:#ff9f00; font-size:18px; text-align:center; border-radius:13px 0px 0px 13px;}




.wd_zd .div_wdzd1 .xxzd1{ width:100%; height:298px;  margin-top:12px; display:none;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1{ width:92%; height:298px;  margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1{ width:100%; height:298px;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1{ width:100%; height:298px;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li{width:100%; height:59px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli5{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6{ float:left; width:68%; height:28px; line-height:28px; font-size:16px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli7{ float:left; width:32%; height:28px; line-height:28px;  font-size:16px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli8{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#444444;}	
	
.wd_zd .div_wdzd1 .xxzd3{ width:100%; height:298px;  margin-top:12px;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3{ width:92%; height:298px;   margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3{ width:100%;height:298px;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3{ width:100%;height:298px; }
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li{width:100%; height:59px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli13{ float:left; width:32%; height:28px; line-height:28px; font-size:16px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14{ float:left; width:68%; height:28px; line-height:28px;  font-size:16px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli15{ float:left; width:40%; height:28px; line-height:28px;  font-size:16px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli16{ float:left; width:60%; height:28px; line-height:28px;  font-size:16px; color:#444444;}	

/*时间的样式*/
#parenDiv{position:absolute; z-index:999; width:800px; border:0px solid #c3c3c3; margin-top:74px;}
.div1{width:150px; height:0px; background:#ffffff;font-size:11px; margin:0px auto; z-index:999;}
.div1 table{background:#ffffff; width:166px; border-collapse:collapse; border:1px solid #dedede; }
.div1 table td.th1{background:#ffffff; height:44px; z-index:999;}
.div1 table td.th1 button{width:45px; text-align:center; border:0px;  height:24px; font-size:20px;}
.div1 table td.th2{background:#ffffff; text-align:center; width:auto; font-size:24px; z-index:999;}
.div1 table td.th3{background:#ffffff; height:26px;  z-index:999;}
.div1 table td.th3 button{width:45px; text-align:center;font-size:20px; border:0px;  height:24px; }
.div1 table td{ z-index:999;}
.div1 table td button{width:45px; background:#ffffff; text-align:center; border:0px; z-index:999; font-size:20px;}	
.hei_divyhk{ width:100%; height:315px; background:#f7f7f7;}


.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:11px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}


@media screen and (max-device-width: 400px) {
.wd_zd{ width:100%;  background:#f7f7f7;}	
.wd_zd .wd_back	{width:100%; height:174px; background:url(../images/zd2.png) no-repeat;background-size:cover;}
.wd_zd .wd_back .zd_in{ width:94%; height:55px;  margin:0 auto;}
.wd_zd .wd_back .zd_in .zd_fhimg{ float:left; width:10%; height:55px; }
.wd_zd .wd_back .zd_in .zd_fhimg .fbar{ float:left; width:12px; height:20px; margin-top:17px;}
.wd_zd .wd_back .zd_in .zd_h1{ float:left; width:80%; height:55px; line-height:55px; font-size:20px; color:#444444; text-align:center;}

.wd_zd .wd_back  .zd_yue{ width:94%; height:55px;  margin:0 auto; margin-top:30px;}
.wd_zd .wd_back  .zd_yue .zd_left{ float:left;width:23%; height:55px;}
.wd_zd .wd_back  .zd_yue .zd_left #year{ float:left; width:100%; display:block; height:30px; line-height:24px; font-size:16px; color:#b85500; text-indent:0.3em;}
.wd_zd .wd_back  .zd_yue .zd_left #mon{ float:left; display:block; font-size:32px; text-indent:0.1em; color:#ffffff; height:30px; line-height:25px;}
.wd_zd .wd_back  .zd_yue .zd_left .y_spanbar{ float:left; display:block; font-size:16px; margin-top:0px; margin-left:6px; color:#ffffff; height:33px; line-height:33px;}
.wd_zd .wd_back  .zd_yue .ddimg{ float:left; width:4px; height:56px;}
.wd_zd .wd_back  .zd_yue .zd_right{ float:left;width:75%; height:55px; }
.wd_zd .wd_back  .zd_yue .zd_right .zyba{ float:right; width:88%; height:32px; line-height:32px;  margin-top:11px;}

.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left{ float:left; display:block; width:50%; height:32px; line-height:32px; font-size:26px; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .sjimg1{ float:right; background:url(../images/zd6.png) no-repeat;width:20px; height:20px; margin-right:8px; margin-top:7px;background-size:cover}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .tianjialei{float:right; background:url(../images/zd7.png) no-repeat;width:20px; height:20px; margin-right:12px; margin-top:13px;background-size:cover; display:block;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right{float:left; display:block; width:50%; height:32px; line-height:32px; font-size:26px; color:#ffffff;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .sjimg2{ float:right;background:url(../images/zd6.png) no-repeat;width:20px; height:20px; margin-right:8px;margin-top:7px;background-size:cover; display:block;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .tianjialei1{float:right; background:url(../images/zd7.png) no-repeat;width:20px; height:20px; margin-right:12px; margin-top:13px;background-size:cover}
/*****************************/
.wd_zd .div_wdzd{ width:100%; }

.wd_zd .div_wdzd .zy_divin{ width:80%; height:48px; margin:0 auto; border-radius:13px; }
.wd_zd .div_wdzd .zy_divin .divin_left{ float:left; width:49.5%; height:30px; line-height:32px; border-top:1px solid #858585; border-left:1px solid #858585; border-bottom:1px solid #858585; background:#ffffff; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px; color:#5a6173;}
.wd_zd .div_wdzd .zy_divin .divin_right{ float:left; width:49.5%; height:30px; line-height:32px;border-top:1px solid #858585; border-right:1px solid #858585; border-bottom:1px solid #858585;  background:#fff; font-size:16px; text-align:center; border-radius:13px 0px 0px 13px; color:#5a6173;}
/*点击出背景*/
.wd_zd .div_wdzd .zy_divin .ccdi1{ float:left; width:49.5%; height:32px; border:none; line-height:32px; color:#ffffff; background:#ff9f00; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px;}
.wd_zd .div_wdzd .zy_divin .ccdi2{ float:left; width:49.5%; height:32px; border:none; line-height:32px; color:#ffffff; background:#ff9f00; font-size:16px; text-align:center; border-radius:13px 0px 0px 13px;}

.wd_zd .div_wdzd .xxzd{ width:100%; height:232px;  margin-top:4px;}
.wd_zd .div_wdzd .xxzd .xxzd_in{ width:96%; height:232px;  margin:0 auto;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div{ width:100%; height:232px; }
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx{ width:94%; height:232px; margin:0 auto; }
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li{width:100%; height:44px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli1{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli3{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli4{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#444444;}	
.wd_zd .div_wdzd .xxzd2{ width:100%; height:232px; margin-top:4px;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2{ width:96%; height:232px;   margin:0 auto;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2{ width:100%; height:232px; }
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2{ width:94%; height:232px; margin:0 auto;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li{width:100%; height:44px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli9{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli11{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli12{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#444444;}	
	
.wd_zd .div_wdzd1{ width:100%; display:none;}

.wd_zd .div_wdzd1 .zy_divin1{ width:80%; height:40px; margin:0 auto; border-radius:13px;}
.wd_zd .div_wdzd1 .zy_divin1 .divin_left1{ float:left; width:49.5%; height:30px; line-height:30px; border-top:1px solid #636363; border-left:1px solid #636363; border-bottom:1px solid #636363; background:#ffffff; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px; color:#5a6173;}

.wd_zd .div_wdzd1 .zy_divin1 .divin_right1{ float:left; width:49.5%; height:30px; line-height:30px;border-top:1px solid #636363; border-right:1px solid #636363; border-bottom:1px solid #636363;  background:#fff; font-size:16px; text-align:center; border-radius:13px 0px 0px 13px; color:#5a6173;}
/*点击出背景*/
.wd_zd .div_wdzd1 .zy_divin1 .ccdi3{ float:left; width:49.5%; height:32px; border:none; line-height:32px; color:#ffffff; background:#ff9f00; font-size:16px; text-align:center;border-radius:0px 13px 13px 0px;}
.wd_zd .div_wdzd1 .zy_divin1 .ccdi4{ float:left; width:49.5%; height:32px; border:none; line-height:32px; color:#ffffff; background:#ff9f00; font-size:16px; text-align:center; border-radius:13px 0px 0px 13px;}




.wd_zd .div_wdzd1 .xxzd1{ width:100%; height:232px;  margin-top:0px; display:none;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1{ width:96%; height:232px;  margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1{ width:100%;height:232px;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1{ width:94%;height:232px; margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li{width:100%; height:44px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli5{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6{ float:left; width:60%; height:22px; line-height:22px; font-size:16px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6 .yycl{ font-size:14px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli7{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli8{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#444444;}	
	
.wd_zd .div_wdzd1 .xxzd3{ width:100%; height:232px; margin-top:0px;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3{ width:96%; height:232px;  margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3{ width:100%;height:232px;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3{ width:94%;height:232px; margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li{width:100%; height:44px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli13{ float:left; width:40%; height:22px; line-height:22px; font-size:14px; color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14 .yycl{ font-size:16px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli15{ float:left; width:40%; height:22px; line-height:22px;  font-size:14px;  color:#a6a6a8; text-align:left;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli16{ float:left; width:60%; height:22px; line-height:22px;  font-size:14px; color:#444444;}	

/*时间的样式*/
#parenDiv{position:absolute; z-index:999; width:800px; border:0px solid #c3c3c3; margin-top:74px;}
.div1{width:150px; height:0px; background:#ffffff;font-size:11px; margin:0px auto; z-index:999;}
.div1 table{background:#ffffff; width:166px; border-collapse:collapse; border:1px solid #dedede; }
.div1 table td.th1{background:#ffffff; height:44px; z-index:999;}
.div1 table td.th1 button{width:45px; text-align:center; border:0px;  height:24px; font-size:20px;}
.div1 table td.th2{background:#ffffff; text-align:center; width:auto; font-size:24px; z-index:999;}
.div1 table td.th3{background:#ffffff; height:26px;  z-index:999;}
.div1 table td.th3 button{width:45px; text-align:center;font-size:20px; border:0px;  height:24px; }
.div1 table td{ z-index:999;}
.div1 table td button{width:45px; background:#ffffff; text-align:center; border:0px; z-index:999; font-size:20px;}	
.hei_divyhk{ width:100%; height:315px; background:#f7f7f7;}


.footbar{ float:left;width:100%; height:62px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:62px;}
.footcont{ float:left; width:60%; height:62px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:34px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:34px; margin:0 auto; height:42px;background-size:cover; margin-top:11px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:22px; height:42px; margin:0 auto;background-size:cover; margin-top:11px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:24px; height:42px;margin:0 auto;background-size:cover; margin-top:11px;}	
	
	
}

@media screen and (min-device-width: 1360px) {
.wd_zd{ width:100%; background:#f7f7f7;}	
.wd_zd .wd_back	{width:100%; height:377px; background:url(../images/zd2.png) no-repeat;background-size:cover;}
.wd_zd .wd_back .zd_in{ width:96%; height:62px;  margin:0 auto;}
.wd_zd .wd_back .zd_in .zd_fhimg{ float:left; width:10%; height:62px; }
.wd_zd .wd_back .zd_in .zd_fhimg .fbar{ float:left; width:18px; height:39px; margin-top:10px;}
.wd_zd .wd_back .zd_in .zd_h1{ float:left; width:80%; height:62px; line-height:62px; font-size:28px; color:#444444;  text-align:center;}

.wd_zd .wd_back  .zd_yue{ width:90%; height:98px;  margin:0 auto; margin-top:142px;}
.wd_zd .wd_back  .zd_yue .zd_left{ float:left;width:28.9%; height:98px; }
.wd_zd .wd_back  .zd_yue .zd_left #year{ float:left; width:100%; display:block; height:30px; line-height:30px;  font-size:24px; color:#b85500;}
.wd_zd .wd_back  .zd_yue .zd_left #mon{ float:left; display:block; font-size:60px; text-indent:0.1em;}
.wd_zd .wd_back  .zd_yue .zd_left .y_spanbar{ float:left; display:block; font-size:24px; margin-top:34px; margin-left:6px;}
.wd_zd .wd_back  .zd_yue .ddimg{ float:left; width:6px; height:98px;}
.wd_zd .wd_back  .zd_yue .zd_right{ float:left;width:70%; height:98px; }
.wd_zd .wd_back  .zd_yue .zd_right .zyba{ float:right; width:82%; height:50px; margin-top:24px;}

.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left{ float:left; display:block; width:50%; height:50px; line-height:50px; font-size:38px; }
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .sjimg1{ float:right; background:url(../images/zd6.png) no-repeat;width:26px; height:26px; margin-right:42px; margin-top:14px;background-size:cover}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_left .tianjialei{float:right; background:url(../images/zd7.png) no-repeat;width:26px; height:26px; margin-right:42px; margin-top:20px;pbackground-size:cover}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right{float:left; display:block; width:50%; height:50px; line-height:50px; font-size:38px;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .sjimg2{ float:right;background:url(../images/zd6.png) no-repeat;width:26px; height:26px; margin-right:42px;margin-top:14px;background-size:cover;}
.wd_zd .wd_back  .zd_yue .zd_right .zyba .div_right .tianjialei1{float:right; background:url(../images/zd7.png) no-repeat;width:26px; height:26px; margin-right:42px; margin-top:20px;pbackground-size:cover}
/*****************************/
.wd_zd .div_wdzd{ width:100%; }

.wd_zd .div_wdzd .zy_divin{ width:80%; height:50px; margin:0 auto; }
.wd_zd .div_wdzd .zy_divin .divin_left{ float:left; width:49.9%; height:50px; line-height:50px;  font-size:26px; text-align:center;}

.wd_zd .div_wdzd .zy_divin .divin_right{ float:left; width:49.9%; height:50px; line-height:50px;  font-size:26px; text-align:center;}


/*点击出背景*/
.wd_zd .div_wdzd1 .zy_divin1 .ccdi1{ float:left; width:49.8%; height:46px; border:none; line-height:46px; color:#ffffff; background:#ff9f00; font-size:26px; text-align:center;border-radius:13px 0px 0px 13px;}
.wd_zd .div_wdzd1 .zy_divin1 .ccdi2{ float:left; width:49.8%; height:46px; border:none; line-height:46px; color:#ffffff; background:#ff9f00; font-size:26px; text-align:center; border-radius:0px 13px 13px 0px;}

.wd_zd .div_wdzd .xxzd{ width:100%;  margin-top:20px;}
.wd_zd .div_wdzd .xxzd .xxzd_in{ width:96%;   margin:0 auto;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div{ width:100%;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx{ width:100%; height:562px; overflow-y:scroll; }
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li{ width:100%; height:80px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli1{ float:left; width:40%; display:block; height:40px; line-height:40px;  font-size:22px; color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2{ float:left; width:60%;display:block; height:40px; line-height:40px;  font-size:26px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli2 .yycl{ font-size:26px; color:#444444;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli3{ float:left; width:40%;display:block; height:40px; line-height:40px;  font-size:22px;  color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd .xxzd .xxzd_in .xx_div .ul_xx li .ulli4{ float:left; width:60%;display:block; height:40px; line-height:40px;  font-size:26px; color:#444444;}	
.wd_zd .div_wdzd .xxzd2{ width:100%;   margin-top:20px;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2{ width:96%;   margin:0 auto;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2{ width:100%;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2{ width:100%;  height:562px; overflow-y:scroll; }
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li{ width:100%; height:80px;border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli9{ float:left; width:40%; height:40px; line-height:40px;  font-size:22px; color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#ee5246;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli10 .yycl{ font-size:26px; color:#444444;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli11{ float:left; width:40%; height:40px; line-height:40px; font-size:22px;  color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd .xxzd2 .xxzd_in2 .xx_div2 .ul_xx2 li .ulli12{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#444444;}	
	
.wd_zd .div_wdzd1{ width:100%; }

.wd_zd .div_wdzd1 .zy_divin1{ width:80%; height:50px; margin:0 auto; }
.wd_zd .div_wdzd1 .zy_divin1 .divin_left1{ float:left; width:49.8%; height:50px; line-height:50px;  font-size:26px; text-align:center;}

.wd_zd .div_wdzd1 .zy_divin1 .divin_right1{ float:left; width:49.8%; height:50px; line-height:50px;  font-size:26px; text-align:center;}
/*点击出背景*/
.wd_zd .div_wdzd1 .zy_divin1 .ccdi3{ float:left; width:49.5%; height:46px; border:none; line-height:46px; color:#ffffff; background:#ff9f00; font-size:24px; text-align:center;border-radius:13px 0px 0px 13px;}
.wd_zd .div_wdzd1 .zy_divin1 .ccdi4{ float:left; width:49.5%; height:46px; border:none; line-height:46px; color:#ffffff; background:#ff9f00; font-size:24px; text-align:center; border-radius:0px 13px 13px 0px;}
.wd_zd .div_wdzd1 .xxzd1{ width:100%;   margin-top:20px;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1{ width:96%;   margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1{ width:100%; }
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1{ width:100%;  height:562px; overflow-y:scroll; }
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li{width:100%; height:80px;border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli5{ float:left; width:40%; height:40px; line-height:40px;  font-size:22px; color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli6 .yycl{ font-size:26px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli7{ float:left; width:40%; height:40px; line-height:40px;  font-size:22px;  color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd1 .xxzd1 .xxzd_in1 .xx_div1 .ul_xx1 li .ulli8{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#444444;}	
	
.wd_zd .div_wdzd1 .xxzd3{ width:100%;   margin-top:20px;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3{ width:96%;  margin:0 auto;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3{ width:100%; }
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3{ width:100%;  height:562px; overflow-y:scroll;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li{width:100%; height:80px; border-bottom:1px solid #dedede;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli13{ float:left; width:40%; height:40px; line-height:40px;  font-size:22px; color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#ee5246;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli14 .yycl{ font-size:26px; color:#444444;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli15{ float:left; width:40%; height:40px; line-height:40px;  font-size:22px;  color:#a6a6a8; text-align:center;}
.wd_zd .div_wdzd1 .xxzd3 .xxzd_in3 .xx_div3 .ul_xx3 li .ulli16{ float:left; width:60%; height:40px; line-height:40px;  font-size:26px; color:#444444;}	
	
/*时间的样式*/
#parenDiv{position:absolute; z-index:999; width:800px; border:0px solid #c3c3c3; margin-top:98px;}
.div1{width:150px; height:0px; background:#ffffff;font-size:11px; margin:0px auto; z-index:999;}
.div1 table{background:#ffffff; width:166px; border-collapse:collapse; border:1px solid #dedede; }
.div1 table td.th1{background:#ffffff; height:44px; z-index:999;}
.div1 table td.th1 button{width:45px; background:#ffffff; text-align:center; border:0px;  height:24px; font-size:20px;}
.div1 table td.th2{background:#ffffff; text-align:center; width:auto; font-size:24px; z-index:999;}
.div1 table td.th3{background:#ffffff; height:26px;  z-index:999;}
.div1 table td.th3 button{width:45px; background:#ffffff; text-align:center;font-size:20px; border:0px;  height:24px; }
.div1 table td{background:#ffffff; z-index:999;}
.div1 table td button{width:45px; background:#ffffff; text-align:center; border:0px; z-index:999; font-size:20px;}	

.hei_divyhk{ width:100%; height:562px; background:#f7f7f7;}
.footbar{ float:left; width:100%; height:75px; background:#e4e4e4; margin-top:0px;}
.footcc{ float:left; width:20%; height:75px; }
.footcont{ float:left; width:60%; height:75px;}
.back1{ background:url(../images/ccw.png) no-repeat; display:block; width:42px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back2{ background:url(../images/ccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto; background-size:cover; margin-top:13px;}
.back3{ background:url(../images/ccw2.png) no-repeat; display:block; width:28px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
/*点击显示背景*/
.a_backimg1{background:url(../images/ysccw.png) no-repeat;display:block; width:42px; margin:0 auto; height:50px;background-size:cover; margin-top:13px;}
.a_backimg2{ background:url(../images/ysccw1.png) no-repeat; display:block; width:27px; height:50px; margin:0 auto;background-size:cover; margin-top:13px;}
.a_backimg3{ background:url(../images/ysccw2.png) no-repeat; display:block; width:28px; height:50px;margin:0 auto;background-size:cover; margin-top:13px;}	
.hiediv{ width:100%; height:674px; background:#f7f7f7;}	
}